.bg-login-image {
    background-image: url('https://img.freepik.com/free-vector/product-presentation-concept-illustration_114360-8416.jpg'); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

