.bg-password-image {
    background-image: url('https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1095.jpg'); /* Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
