mixin sort(prefix)
    .col-4 
        div(sort)
            .sort
                select(
                    class="form-control"
                    name="sort"
                    sort-select
                )
                    option(disabled selected) ---Sắp xếp theo---
                    if (prefix == "products")
                        option(value="position-asc") Vị trí tăng dần
                        option(value="position-desc") Vị trí giảm dần 
                        option(value="price-desc") Giá giảm dần
                        option(value="price-asc") Giá tăng dần
                        option(value="title-asc") Tiêu đề từ A - Z 
                        option(value="title-desc") Tiêu đề từ Z - A 
                    if (prefix == "orders" || prefix == "accounts")
                        option(value="createdAt-asc") Tạo sớm nhất 
                        option(value="createdAt-desc") Tạo mới nhất 
                button(
                    class="btn btn-danger mt-2"
                    sort-clear
                ) Xóa
